server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/crudJava
    username: postgres
    password: example

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/crud-java
