server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/crudJava
    username: postgres
    password: example
    driver-class-name: org.postgresql.Driver

  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
